<div class="container">
        <h2>Login</h2>
        <form id="form-connexion" >
            <input type="text" name="username" id="input-courriel" placeholder="username">
            <input type="password" name="pass" id="input-mot-de-passe" placeholder="password">
           <div class="btns">
            <button type="submit">Login</button>
            <a href="/signup"><button type="button" id="sign-up">Sign Up</button></a>
           </div>
            
        </form>
    </div>
<script src="./js/login.js" type="module"></script>