<div class="container">
        <h2>Registration</h2>
        <form id="form-connexion" >
            <input type="text" name="username" id="input-courriel" placeholder="username">
            <input type="password" name="pass" id="input-mot-de-passe" placeholder="password">
           <div class="btns">
            <button type="submit">Créez votre compte !</button>
           </div>
            
        </form>
    </div>
<script src="./js/signup.js" type="module"></script>